---
import Layout from '../layouts/Layout.astro'
import allProjectsData from '../data/allProjectsData'
import ProjectCard from '../components/ProjectCard.jsx'
---

<Layout
  title="Page not found: Kathryn Bloomer Interiors"
  description="Kathryn Bloomer Interiors is a unique interior decoration service and retail store located in the Sutherland Shire"
>
  <main class="w-full pb-14 px-6 lg:px-0">
    <h2 class="text-3xl font-bold mb-3">Page not found</h2>
    <p class="mb-3">Sorry, that page doesn't exist. Please select another page from the menu above.</p>
    <p class="mb-3">Or check out some of our recent projects below:</p>
    <div class="grid sm:grid-cols-3 gap-4">
      {allProjectsData.map((item, index) => index < 6 && <ProjectCard item={item} />)}
    </div>
  </main>
</Layout>
