---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Contact us: Kathryn Bloomer Interiors"
	description="Contact us : Kathryn Bloomer Interiors - Unique interior decoration service located in the Sutherland Shire"
>
	<main class="w-full pb-14 px-6 lg:px-0">
		<div
			class="lg:bg-[url(https://res.cloudinary.com/dz8oxenib/image/upload/w_1110,f_auto,q_auto/v1608504743/KBI/cbgdyhd4thz9zuamyqzv.jpg)] lg:mb-20 lg:p-24"
		>
			<div class="bg-white lg:py-16 lg:px-12 shadow-lg text-center">
				<h2
					class="font-serif text-xl mt-6 lg:mt-0 mb-6 uppercase text-stone-500"
				>
					Contact us
				</h2>
				<ul class="mt-5 pb-6 space-y-3">
					<li>
						<a
							href="mailto:enquiries@kathrynbloomerinteriors.com.au"
							class="hover:underline"
							>enquiries@kathrynbloomerinteriors.com.au
						</a>
					</li>
					<li>
						<a
							href="https://www.facebook.com/kathrynbloomerinteriors"
							class="hover:underline"
							>www.facebook.com/kathrynbloomerinteriors
						</a>
					</li>
					<li>
						<a
							href="https://www.instagram.com/kathryn.bloomer.interiors"
							class="hover:underline"
							>www.instagram.com/kathryn.bloomer.interiors
						</a>
					</li>
					<li>
						<p>
							Phone: <a href="tel:0412579330" class="hover:underline"
								>0412 579 330
							</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</main>
</Layout>
