---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Contact us: Kathryn Bloomer Interiors"
	description="Contact us : Kathryn Bloomer Interiors - Unique interior decoration service and retail store located in the Sutherland Shire"
>
	<main class="w-full pb-14 px-6 lg:px-0">
		<div
			class="lg:bg-[url(https://res.cloudinary.com/dz8oxenib/image/upload/w_1110,f_auto,q_auto/v1608504743/KBI/cbgdyhd4thz9zuamyqzv.jpg)] lg:mb-20 lg:p-24"
		>
			<div class="bg-white lg:py-16 lg:px-12 shadow-lg text-center">
				<h2
					class="font-serif text-xl mt-6 lg:mt-0 mb-6 uppercase text-stone-500"
				>
					Contact us
				</h2>
				<p class="font-serif text-3xl mb-4">Visit our Homewares Store</p>
				<h3 class="font-cursive text-3xl lg:text-5xl mb-9">
					We can't wait to see you at our store in Sutherland!
				</h3>
				<iframe
					title="Kathryn Bloomer Interiors Map Location"
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d724.6291493019055!2d151.05963709243005!3d-34.03046078992021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x180db07238354f0e!2sKathryn%20Bloomer%20Interiors!5e0!3m2!1sen!2sau!4v1645007377146!5m2!1sen!2sau"
					width="100%"
					height="450"
					class="border-0 mb-6 mx-auto"
					allowfullscreen=""
					loading="lazy"></iframe>
				<p class="font-bold text-xl mt-6 mb-4">Opening hours</p>
				<ul class="space-y-3 mb-16">
					<li>Sunday: Closed</li>
					<li>Monday: Closed</li>
					<li>Tuesday: 9.30am - 3pm</li>
					<li>Wednesday: 9.30am - 3.30pm</li>
					<li>Thursday: 9.30am - 3.30pm</li>
					<li>Friday: 9.30am - 3.30pm</li>
					<li>Saturday: 9.00am - 2pm</li>
				</ul>
				<ul class="mt-5 pb-6 space-y-3">
					<li>
						<a
							href="mailto:enquiries@kathrynbloomerinteriors.com.au"
							class="hover:underline"
							>enquiries@kathrynbloomerinteriors.com.au
						</a>
					</li>
					<li>
						<a
							href="https://www.facebook.com/kathrynbloomerinteriors"
							class="hover:underline"
							>www.facebook.com/kathrynbloomerinteriors
						</a>
					</li>
					<li>
						<a
							href="https://www.instagram.com/kathryn.bloomer.interiors"
							class="hover:underline"
							>www.instagram.com/kathryn.bloomer.interiors
						</a>
					</li>
					<li>
						<p>
							Phone: <a href="tel:0412579330" class="hover:underline"
								>0412579330
							</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</main>
</Layout>
