---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Media: Kathryn Bloomer Interiors"
	description="Kathryn Bloomer Interiors has featured in magazines, websites and blogs. We are both thankful and proud to see our work out there for the world to see"
>
	<main class="w-full pb-14">
		<h1 class="sr-only">Media</h1>
		<p>Media content</p>
	</main>
</Layout>
