---
import Layout from "../layouts/Layout.astro";
// window.gtag('config', 'UA-97631050-1', { page_title: 'About us', page_path: '/about-us' })
---

<Layout
  title="Privacy: Kathryn Bloomer Interiors"
  description="Kathryn Bloomer Interiors is a unique interior decoration service and retail store located in the Sutherland Shire"
  url="privacy"
>
  <main class="w-full pb-14 px-6 lg:px-0">
    <h1 class="sr-only">Privacy Policy</h1>
  </main>
</Layout>
