---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Privacy: Kathryn Bloomer Interiors"
  description="Kathryn Bloomer Interiors is a unique interior decoration service and retail store located in the Sutherland Shire"
>
  <main class="w-full pb-14 px-6 lg:px-0"></main>
</Layout>
