---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Projects: Kathryn Bloomer Interiors"
	description="A small collection of Interior design and decoration jobs that we have completed"
>
	<main class="w-full pb-14">
		<h1 class="sr-only">Testimonials</h1>
		<p>Testimonials content</p>
	</main>
</Layout>
