---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Services: Kathryn Bloomer Interiors"
	description="All projects big and small are given the highest amount of attention and detail. From decorating a single room to furnishing an entire home, we have it covered"
>
	<main class="w-full pb-14">
		<h1 class="sr-only">Services</h1>
		<p>Services content</p>
	</main>
</Layout>
