---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Terms and conditions: Kathryn Bloomer Interiors"
  description="Kathryn Bloomer Interiors is a unique interior decoration service and retail store located in the Sutherland Shire"
  url="privacy"
>
  <main class="w-full pb-14 px-6 lg:px-0">
    <h1 class="sr-only">Terms and conditions</h1>
    <div class="terms">
      <h1 class="my-4 text-xl font-bold">Store Terms and conditions</h1>
      <h3>Can I return my purchase if I have a change of mind?</h3>
      <p>
        If you have a change of mind and would like to return the items we will
        accept returned items within 7 days from when the item was purchased.
        Upon returning goods all items need to be in original packaging and in
        new condition with any tags/labels still attached. A receipt or proof of
        purchase must also be supplied. Kathryn Bloomer Interiors will not be
        reponsible for the cost to return goods.
      </p>
      <p>
        Please note, we do not offer exchanges, credit notes or refunds on sale
        items.
      </p>
      <p>
        <b
          >Due to health regulations we do not accept return of any cushions.
        </b>
      </p>
      <h3 class="mb-4 mt-12 text-xl font-bold">Damaged or faulty goods</h3>
      <p>
        All items are checked in store before the product is sold in store. If
        you have ordered a product online and receive the item and deem it to be
        faulty please email <a
          href="mailto:enquiries@kathrynbloomerinteriors.com.au"
          >enquiries@kathrynbloomerinteriors.com.au
        </a> immediately with photos of the damage or fault in the product. Please
        note we will not refund or exchange faulty items after the 7 day period has
        expired from time of purchase.
      </p>
      <h3 class="mb-4 mt-12 text-xl font-bold">
        Inspection of goods upon order and accepting delivered items
      </h3>
      <p>
        It is the buyers responsibility to inspect the goods before purchasing
        the items in store. Upon delivery of items from an online purchase goods
        must be inspected immediately by the customer. If a fault is found
        please make contact with Kathryn Bloomer Interiors within 24 hours,
        after this time Kathryn Bloomer Interiors will not accept return or
        replacement for faulty goods.
      </p>
      <h3 class="mb-4 mt-12 text-xl font-bold">Price matching</h3>
      <p>
        Kathryn Bloomer Interiors does not price match or give a refund if you
        find the products at another store for a cheaper price.
      </p>
      <h2 class="mb-4 mt-12 text-xl font-bold">
        Consultation Terms and conditions
      </h2>
      <div class="space-y-4">
        <p>
          An initial payment of a 50% deposit is required to be paid before any
          design work is commenced. The final and remaining 50% payment is due
          upon completion and delivery of the decoration scheme. Once the
          decoration scheme has been delivered and presented to the client any
          further product sourcing or design work not listed on the invoice will
          be charged by the hour.
        </p>
        <p>
          For all product orders payment in full must be received before any
          orders will be processed. Please make payments via EFT. Once payment
          is received the order cannot be refunded. Kathryn Bloomer Interiors
          does not accept deposits and product orders can only be processed when
          the invoice has be been paid in full. At this time unfortunately
          Kathryn Bloomer Interiors cannot receive a credit card as a way of
          payment.
        </p>
        <p>
          Please note all of the products specified on all pages of the design
          scheme are recommendations only. Kathryn Bloomer Interiors accepts no
          liability for any faulty products and any claims need to be made by
          the client to each supplier directly.
        </p>
        <p>
          Kathryn Bloomer Interiors accepts no liability for incorrect choice
          and does not give refunds for change of mind. All products chosen are
          to be decided upon by the client and it is the client’s responsibility
          to check all measurements of products before ordering. It is the
          client’s responsibility to measure all access points and areas of
          their property to confirm that all products ordered will be able to
          access the property. Failure to do so may result in furniture not
          being able to be placed in the property and Kathryn Bloomer Interiors
          is not liable for access measurements not being checked by the client.
        </p>
        <p>
          Kathryn Bloomer Interiors uses a wide variety of suppliers who all use
          their own nominated delivery companies. Kathryn Bloomer Interiors is
          not liable for any damage caused to client property by delivery
          companies. If damage does occur any damage claims are to be made
          directly to the delivery company by the client.
        </p>
        <p>
          Authority to leave: If a client chooses and gives approval for goods
          to be delivered and left at the front door it is the client’s
          responsibility to collect the goods. Kathryn Bloomer Interiors is not
          responsible for any theft or damage to goods once they have been
          delivered.
        </p>
        <p>
          Kathryn Bloomer Interiors is not responsible for shipping and
          manufacturing delays. All efforts will be made to adhere to proposed
          order time-lines but due to unforeseen delays products may arrive
          later than expected.
        </p>
        <p>
          As fabric rolls have different Dye lots, variation can occur from
          samples provided. Variations may occur in natural timber products. Due
          to the nature of timber being a natural product, variations in colour
          and the natural pattern may occur from the sample given.
        </p>
        <p>
          Finish stain colours may differ slightly from samples shown. Please
          note this includes solid timber products, veneers and flooring. Please
          note imperfections, knots and cracks in timber products are a natural
          feature and not a fault and are an inherent feature of rustic timber
          furniture.
        </p>
        <p>
          Please note paint colour may vary from brushed out swatch due to
          available light, colour mixing ratio, paint brand and type of paint
          used. Kathryn Bloomer Interiors is not liable for paint colour
          variation. Any dispute must be dealt with directly between the client
          and painter or manufacturer.
        </p>
        <p>
          Products may vary in colour, tone, lightness and texture from images
          shown online. Kathryn Bloomer Interiors is not responsible or liable
          for variations that may be present in products which may differ from
          images shown online and on a computer monitor or device. It is the
          client’s responsibility to view each product onscreen before placing
          an order. It is recommended that clients visit showrooms of products
          before ordering.
        </p>
      </div>
    </div>
  </main>
</Layout>
