---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Testimonials: Kathryn Bloomer Interiors"
	description="Read testimonials from some of the clients that we have worked with over the years"
>
	<main class="w-full pb-14">
		<h1 class="sr-only">Testimonials</h1>
		<p>Testimonials content</p>
	</main>
</Layout>
