---
export interface props {
  title: string
}
import Hamburger from './Hamburger'
import MobileMenu from './MobileMenu'
import '../css/hamburger.css'
const { title } = Astro.props
---

<header class="bg-beige">
  <div id="hamburger-container" class="bg-white flex h-14 justify-end lg:hidden">
    <Hamburger client:load />
  </div>
  <MobileMenu client:load />
  <div class="container md:px-20 lg:px-0 lg:mx-auto px-3 pt-3 lg:pt-12 pb-3 lg:pb-12">
    <h1 class="sr-only">{title}</h1>
    <div class="lg:flex justify-center">
      <a href="/" class="inline-flex">
        <img
          class="lg:w-[450px]"
          src="https://res.cloudinary.com/dz8oxenib/image/upload/fl_sanitize/v1579842477/KBI/cvjrprhs4vwo8zlhsojb.svg"
          alt="Kathryn Bloomer Interiors"
          width="700"
          height="63"
        />
        <span class="sr-only">Home</span>
      </a>
    </div>
    <div class="lg:flex lg:justify-center">
      <p class="lg:text-md lg:w-4/5 text-center font-light sm:mt-2">
        Interior Design | Interior Decoration | Property Styling
      </p>
    </div>
  </div>
</header>
