<style>
  .list:first-child {
    @apply border-l border-stone-500 pl-4;
  }
  .list:last-child {
    @apply border-r border-stone-500 pl-4;
  }
  .item a {
    @apply block text-black text-base uppercase leading-9 hover:underline;
  }
</style>
<nav class="hidden lg:flex justify-center mt-0 mx-auto py-6 max-w-6xl w-full">
  <ul class="flex justify-around max-w-5xl w-full">
    <li class="item">
      <a class="!text-sm" href="/projects" title="projects">Projects</a>
    </li>
    <li class="item">
      <a class="!text-sm" href="/about-us" title="about us">About us</a>
    </li>
    <li class="item">
      <a class="!text-sm" href="/services" title="services">Services</a>
    </li>
    <li class="item">
      <a class="!text-sm" href="/media" title="media">Media</a>
    </li>
    <li class="item">
      <a class="!text-sm" href="/testimonials" title="testimonials">Testimonials</a>
    </li>
    <li class="item">
      <a class="!text-sm" href="/contact" title="contact">Contact</a>
    </li>
  </ul>
</nav>
